language: objective-c

script:
  - xctool -workspace Project\ Barbosa.xcworkspace -scheme Project\ Barbosa -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
  - xctool test -workspace Project\ Barbosa.xcworkspace -scheme Project\ Barbosa -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO